astor==0.8.1
attrs==19.3.0
audioread==2.1.8
backcall==0.1.0
beautifulsoup4==4.9.0
bleach==3.1.4
blis==0.2.4
chatterbot-corpus==1.2.0
click==7.1.1
cloudpickle==1.3.0
colorama==0.4.3
Flask==1.1.1
future==0.18.2
gast==0.3.3
gensim==3.8.1
graphviz==0.13.2
grpcio==1.27.2
gunicorn==20.0.4
h5py==2.10.0
holidays==0.10.1
idna==2.9
imutils==0.5.3
ipykernel==5.1.4
ipython==7.13.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
itsdangerous==1.1.0
jdcal==1.4.1
jedi==0.16.0
Jinja2==2.11.1
jmespath==0.9.5
joblib==0.14.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.0.0
jupyter-console==6.1.0
jupyter-core==4.6.3
kiwisolver==1.1.0
librosa==0.7.2
matplotlib==3.2.0
mistune==0.8.4
modules==1.0.0
murmurhash==1.0.2
nbconvert==5.6.1
nbformat==5.0.4
networkx==2.4
notebook==6.0.3
numba==0.48.0
numpy==1.18.1
pandas==1.0.1
pandocfilters==1.4.2
parso==0.6.2
patsy==0.5.1
pickleshare==0.7.5
Pillow==7.0.0
Pint==0.11
plac==0.9.6
plyer==1.4.3
preshed==2.0.1
prometheus-client==0.7.1
prompt-toolkit==3.0.4
protobuf==3.11.3
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.20
pydot==1.4.1
pydub==0.23.1
Pygments==2.6.1
pyimage==0.1.1
PyMeeus==0.3.7
pymongo==3.10.1
pynput==1.6.8
pyparsing==2.4.6
pyrsistent==0.15.7
python-dateutil==2.7.5
pytils==0.3
pyttsx3==2.87
pytz==2019.3
PyWavelets==1.1.1
pywinpty==0.5.7
PyYAML==3.13
pyzmq==19.0.0
qtconsole==4.7.1
QtPy==1.9.0
requests==2.23.0
resampy==0.2.2
rsa==4.0
s3transfer==0.3.3
scikit-image==0.16.2
scikit-learn==0.22.2.post1
scipy==1.4.1
seaborn==0.10.0
Send2Trash==1.5.0
six==1.14.0
sklearn==0.0
smart-open==1.10.0
SoundFile==0.10.3.post1
soupsieve==2.0
spacy==2.1.9
SQLAlchemy==1.2.19
srsly==1.0.2
statsmodels==0.11.1
stopit==1.1.2
terminado==0.8.3
testpath==0.4.4
textblob==0.15.3
thinc==7.0.8
tools==0.1.9
tornado==6.0.4
TPOT==0.11.1
tqdm==4.43.0
traitlets==4.3.3
update-checker==0.16
urllib3==1.25.8
wasabi==0.6.0
wcwidth==0.1.8
webencodings==0.5.1
Werkzeug==1.0.0
widgetsnbextension==3.5.1
wrapt==1.12.1
wxPython==4.0.7.post2
zipp==3.1.0
